<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 一如外部properties -->
	<properties ></properties>

	<!-- 配置别名 -->
	<typeAliases>
		<!-- 包下所有类的别名为其类名小写；  Test == test -->
		<package name="spring_mybatis.mybatis.pojo"/>
	</typeAliases>
	<!-- 配置 mybatis 的环境 -->
	<environments default="mysql">
		<!-- 配置 mysql 的环境 -->
		<environment id="mysql">
			<!-- 配置事务的类型 -->
			<transactionManager type="JDBC"></transactionManager>
			<!-- 配置连接数据库的信息:用的是数据源(连接池) -->
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver" />
				<property name="url" value="jdbc:mysql://192.168.0.9:3306/test" />
				<property name="username" value="root" />
				<property name="password" value="123321" />
			</dataSource>
		</environment>
	</environments>
	<!-- 配置别名 -->
	<!-- 告知 mybatis 映射配置的位置 -->
	<mappers>
		<mapper resource="spring_mybatis/mybatis/config/BankMapper.xml" />
	</mappers>
</configuration>